/* Custom CSS
 * --------------------------------------- */
body{
  color:#fff;
  font-family: microsoft yahei;
}
.text-center{
  text-align:center;
}
p{
  font-size: 16px;
  margin-bottom:10px;
}
.screen-one{
  background:#415065 url(../images/top-bg.jpg) top center no-repeat;
  background-size: cover;
}.section-header{
  position: absolute;
  top: 7%;
  width: 100%;
}
.section-header h2{
  font-size: 39px;
  font-family: arial;
  font-family: sans-serif;
}
.section-header h2 span{
  width: 17%;
  height: 1px;
  background: #C5C5C5;
  display: inline-block;
  vertical-align:middle;
}
.section-header h2 span:first-child{
  margin-right: 15px;
}
.section-header h2 span:last-child{
  margin-left: 15px;
}
.screen-one h1{
  font-size: 60px;
  color: #fff;
  margin-top: -180px;
  line-height: 120px;
  font-family: arial;
}
.screen-one h2{
  font-size: 24px;
  color: #9CB5BB;
  line-height: 50px;
}
.profile-intr{
  width: 78%;
  height: 41%;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0 auto;
  margin-left: -39%;
  padding: 1%;
  border-radius: 10px 10px 0 0;
  color: #fff;
  background: rgba(65, 80, 101, 0.6);
}
.work-intr{
  height: 8%;
  position: absolute;
  top: 0;
  background: #09742F;
  margin: 0 auto;
  width: 670px;
  opacity: 0.7;
  left: 50%;
  margin-left: -350px;
  border-radius: 0 0 10px 10px;
  padding: 15px;
}
.screen-two{
  position: relative;
  background: #415065;
}
.coffe{
  position: absolute;
  right: 0%;
  top: 0;
  width: 35%;
  height: 100%;
  background: url(../images/ipad-coffee.png) top center no-repeat;
  background-size: contain;
  z-index: 1;
}
.phone{
  position: absolute;
  left: -11%;
  bottom: -50%;
  width: 50%;
  height: 100%;
  background: url(../images/headphones-iphone.png) top center no-repeat;
  background-size: contain;
  z-index: 1;
}
.screen-three .col-md-3{
  margin-top: 25px;
}
.screen-three .col-md-3 h3{
  margin-top: 7px;
  margin-bottom: 7px;
}
.screen-four .col-md-5{
  line-height: 32px;
}














